<div class="container">
    <h1>angular absolute url in html, postcss, scss</h1>

    <h3>postcss background url</h3>
    <div>
        <span class="background-postcss"></span>
    </div>
    <div class="code">
        background: url(~src/assets/images/btn_up.png) no-repeat center scroll;
    </div>

    <h3>img src in html</h3>
    <div>
        <img src="~src/assets/images/btn_down.png" alt="">
    </div>
    <div class="code">
        < img src="~src/assets/images/btn_down.png" alt="">
    </div>

    <h3>scss background url</h3>
    <div>
        <span class="background-scss"></span>
    </div>
    <div class="code">
        background: url(~../src/assets/images/btn_pause.png) no-repeat center scroll;
    </div>
</div>
