.ico { background-image: url(assets/sprite.png); background-size: 262px 262px; display: inline-block; }
.ico_64_access_control { width: 64px; height: 64px; background-position: 0px 0px; }
.ico_64_area_manage { width: 64px; height: 64px; background-position: -66px 0px; }
.ico_64_camera_manage { width: 64px; height: 64px; background-position: 0px -66px; }
.ico_64_campus_manage { width: 64px; height: 64px; background-position: -66px -66px; }
.ico_64_campus_security { width: 64px; height: 64px; background-position: -132px 0px; }
.ico_64_check_notes { width: 64px; height: 64px; background-position: -132px -66px; }
.ico_64_class_call-over { width: 64px; height: 64px; background-position: 0px -132px; }
.ico_64_dormitory_checking { width: 64px; height: 64px; background-position: -66px -132px; }
.ico_64_face_check { width: 64px; height: 64px; background-position: -132px -132px; }
.ico_64_identity_manage { width: 64px; height: 64px; background-position: -198px 0px; }
.ico_64_object_manage { width: 64px; height: 64px; background-position: -198px -66px; }
.ico_64_ocr { width: 64px; height: 64px; background-position: -198px -132px; }
.ico_64_studens_manage { width: 64px; height: 64px; background-position: 0px -198px; }
.ico_64_user_manage { width: 64px; height: 64px; background-position: -66px -198px; }
.ico_64_visitor { width: 64px; height: 64px; background-position: -132px -198px; }